<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Admin | Willmar Whisky Society</title>
    <!-- <link rel="icon" href="../static/imgs/favicon.png" type="image/png"> -->

</head>

<body>

    <!-- WWS logo header w/social-->
    <div class="header">
        <div class="header_container">
            <div class="social_container">
                <div class="social">
                    <!-- put socials here -->
                </div>
            </div>
            <div class="logo_container">
                <a href="#">
                    <img class="logo d-block mx-auto pt-3" src="\static\imgs\WillmarWhiskySociety_BLACK-Transparent.jpg"
                        class="img-responsive" alt="WWS logo">
                </a>
            </div>
        </div>
    </div>
    <!-- end header !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container">
            <!-- creates the burger menu icon -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse row text-center" id="navbarSupportedContent">
                <ul class="navbar_nav ">
                    <li class="col">
                        <a class="nav_link underlineAnimate" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <form class="" action="/update_event" method="post" enctype="multipart/form-data">
        <!-- Add an event -->
        <div class="mx-auto w-50">
            <div class="row">
                <div class="col">
                    <input type="hidden" name="id" value="{{event.id}}">
                    <input type="hidden" name="pic_location" value="{{event.pic_location}}">
                    <input class="form-control mb-2" type="file" name="pic_location" id="pic_location" >
                    {% for message in get_flashed_messages(category_filter=['err_file']) %}
                        <p class="err-msg text-center">{{message}}</p>
                    {% endfor %}
                    <img class="w-100" id="preview" src="/static/imgs/event_imgs/{{event.pic_location}}" alt="{{event.pic_location}}" >
                </div>
                <div class="col my-auto">
                    <div class="w-80 mx-auto text-center">

                        <input class="form-check-input" type="checkbox" name="history" value="1" id="checkbox_id" {% if event.history == 1 %}checked{% endif %}>
                        <label class="form-check-label" for="checkbox_id">Move to History Page</label>

                        <input class="form-control my-2" type="text" name="title" value="{{event.title}}">
                        <textarea class="form-control" name="description" rows="3">{{event.description}}</textarea>
                        <input class="form-control my-2" type="text" name="tickets_url" placeholder="Tickets url" value="{{event.tickets_url}}">
                    </div>
                </div>
            </div>
            <div class="w-25 mt-3">
                <h2>Time and Location</h2>
                <input class="form-control mb-2" type="text" name="location" placeholder="Location" value="{{event.location}}">
                <input class="form-control mb-2" type="text" name="address" placeholder="Address" value="{{event.address}}">
                <!-- <label class="form-label" for="date">Start date and time</label> -->
                <input class="form-control mb-2" type="datetime-local" name="date" value="{{event.date}}">
            </div>
            <div>
                <h2>About the event</h2>
                <textarea class="form-control mb-2" name="about_1" rows="10" >{{event.about_1}}</textarea>
            </div>
            <div>
                <h2>History From Event</h2>
                <textarea class="form-control mb-2" name="about_2" rows="10">{{event.about_2}}</textarea>
            </div>
        </div>
        <div class="text-center mb-5">
            <button class="btn btn-warning me-2">Update Event</button>
            <a class="btn btn-danger" href="/admin">Cancel</a>
        </div>
    </form>

    <script src="/static/js/preview.js"></script>
</body>

</html>